:host {
    display: block;
    width: 70%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    position: relative;
}

loader {
    left: calc(50% - 32px);
    position: absolute;
    top: calc(50% - 32px);
}