:host {
    display: flex;
    flex-wrap: wrap;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    position: relative;
    width: 70%;
}

loader {
    left: calc(50% - 32px);
    position: absolute;
    top: calc(50% - 32px);
}