:host {
    border: 1px solid;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    position: relative;
    width: 30%;
}

.form-control {
    align-items: center;
    display: flex;
    width: 100%;

    span {
        display: block;
        margin-inline-end: 8px;
    }

    input {
        width: 100%;
    }
}

button {
    bottom: 8px;
    left: 8px;
    position: absolute;
    width: calc(100% - 16px);
}